@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To reviewer project. In order to use this website and post your own reviews please make sure to register and login into your account</p>
</div>
